<h1>Please enter your change</h1>
<form action = "/result">
<label for = "changeInput">Enter your change</label>
<input id = "changeInput" name ="changeInput" type = "number">
<button type="submit" class="btn">Submit</button>
</form>
